*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background: hsl(224, 36%, 15%);
}
header h1{
  font-weight: 500;
  font-size: 1.5rem;
  color: #EEE;
}
header ul{
  display: flex;
  list-style: none;
}
header li{
  padding: 0 10px;
}
header a {
  text-decoration: none;
  color: #EEE;
  transition: all 0.3s ease-in-out;
}
header a:hover{
  color: #999;
  letter-spacing: 1px;
}
header svg{
  color: #FFF;
  cursor: pointer;
  display: none;
}
h1 img{
  width: 30px;
}
@media (max-width: 760px){
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  header ul{
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: hsl(224, 36%, 15%);
    height: 0;
    overflow: hidden;
  }
  header ul.active{
    transition: all 0.5s ease-in-out;
    height: initial;
  }
  header li {
    border-bottom: 1px solid #999;
    padding: 10px 5px;
  }
  .nav-search.active{
    height: 440px;
  }
  header svg{
    display: block;
  }
}
/* section */
#intro{
  background: url(img/weird.png);
  background-size: cover;
  background-position: center;
}
#intro div{
  width: 100%;
  background: rgba(1, 0, 0, 0.7);
  /* background: hsla(224, 36%, 15%,0.7); */
  height: 70vh;
}
.title{
  text-align: center;
  padding: 250px 0 10px 0;
}
.title h1,
.title h2{
  font-size: 2rem;
  color: #fff;
}
.title p{
  padding: 15px 0;
  color: #999;
  /* background: rgba(1, 0, 0, 0.5); */
}
.title a{
  text-decoration: none;
  border: 1px solid #FFF;
  padding: 5px;
  color: #fff;
}
/* skate */
section.skate{
  transition: all 0.4s ease-in-out;
  margin: 100px 0 20px 0;
  overflow: hidden;
}
.skate.active{
  transition: 0.5 ease-in-out;
  height: 0;
  overflow: hidden;
}
.skate-boi{
  width: 150px;
  transform: translateX(-200px);
}
.skate-boi img{
  width: 100%;
  transform: rotate(-10deg);
}
@keyframes skate {
  from{
    transform: translateX(-200px);
  }
  to{
    transform: translateX(1300px);
  }
}
@media (max-width:400px){
  .skate-boi{
    width: 150px;
  }
  #intro div{
    /* height: 50vh; */
  }
}
/* objective */
#objective,
#contact,
#about-me {
  padding: 30px 10px;
}
#objective p,
#contact p,
#about-me p{
  padding: 10px;
}
.obj-con{
  background: #EEE;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  display: none;
}
#about-me,
#skills {
  color: #EEE;
  background: hsl(224, 36%, 15%);
}
#about-me h1{
  color: #fff;
  border-bottom: 1px solid #999;
}
#skills h1,
#education h1, #experience h1 {
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: hsl(224, 36%, 15%);
  font-size: 2rem;
  border-bottom: 1px solid hsl(224, 36%, 15%);
}
#about-me p{
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 1.7rem;
  /* text-align: justify; */
  max-width: 600px;
}
.social{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.social a{
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.social a:hover{
  transform: translateY(-10px);
}
.social img{
  width: 30px;
}
.social img.site{
  width: 50px;
}
@media (max-width: 500px){
  #about-me p{
    text-align: left;
  }
  .social a{
    padding: 10px;
  }
}
/* Talent */
section.resume-talent{
  margin: 70px 0 0 0;
}
/* #education, */
#education{
  margin: 50px 0;
}
.edu-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  justify-content: center;
}
.edu-card .card{
  padding: 0;
  margin: 0 20px;
  max-width: 400px;
  border: 1px solid hsl(224, 36%, 15%);
  /* vertical-align: top; */
}
.edu-card .card-text{
  color: #fff;
  background: hsl(224, 36%, 15%);
}
.card img{
  width: 100%;
}
@media (max-width: 800px){
  .edu-card{
    flex-direction: column;
    justify-content: center;
  }
  .edu-card .card{
    margin: 20px 0;

  }
}
/* experience */
#experience{
  padding: 100px 0;
}
.exp-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.exp-card .card{
  position: relative;
  /* max-width: 00px; */
  box-shadow: 2px 2px 4px hsl(224, 36%, 15%);
}
.exp-card .card-text{
  position: absolute;
  padding: 20px;
  top: 0;
  width: 100%;
  color: #fff;
  background: rgba(1, 0, 0, 0.7);
}
.card img{
  width: 100%;
}
@media (max-width: 700px){
  .exp-card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px){
  .exp-card {
    grid-template-columns: 1fr;
  }
}
#association {
  text-align: center;
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: hsl(224, 36%, 15%);
}
#association h1{
  font-size: 2rem;
  padding: 10px 0;
  color: #FFF;
}
#association a{
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s ease-in-out;
}
#association a:hover{
  letter-spacing: 1px;
}
#projects{
  /* margin: 50px 0; */
  display: none;
}
.project-carousel{
  width: 800px;
  padding: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}
.project-carousel img{
  width: 100%;
}
