*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background: hsl(224, 36%, 15%);
}
header h1{
  font-weight: 500;
  font-size: 1.5rem;
  color: #EEE;
}
header ul{
  display: flex;
  list-style: none;
}
header li{
  padding: 0 10px;
}
header a {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: #EEE;
}
h1 img{
  width: 30px;
}
@media (max-width: 760px){
  header ul{
    display: none;
  }
}
/* section */
#intro{
  background: url(img/bg-person.jpg);
  background-size: cover;
  background-position: center;
}
#intro div{
  width: 100%;
  background: hsla(224, 36%, 15%,0.7);
  height: 70vh;
}
.title{
  text-align: center;
  padding: 250px 0 10px 0;
}
.title h1,
.title h2{
  font-size: 2rem;
  color: #fff;
}
.title p{
  padding: 15px 0;
}
.title a{
  text-decoration: none;
  border: 1px solid #FFF;
  padding: 5px;
  color: #fff;
}
/* skate */
section.skate{
  margin: 100px 0 20px 0;
  overflow: hidden;
}
.skate.active{
  height: 0;
  overflow: hidden;
}
.skate-boi{
  width: 150px;
  animation: skate 8s linear both 3;
}
.skate-boi img{
  width: 100%;
}
@keyframes skate {
  from{
    transform: translateX(-200px);
  }
  to{
    transform: translateX(1300px);
  }
}
/* objective */
#objective,
#contact,
#about-me {
  padding: 30px 10px;
}
#objective p,
#contact p,
#about-me p{
  padding: 10px;
}
#about-me,
#skills {
  color: #EEE;
  background: hsl(224, 36%, 15%);
}
#about-me h1{
  color: #fff;
  border-bottom: 1px solid #999;
}
#skills h1,
#education h1, #experience h1 {
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: hsl(224, 36%, 15%);
  font-size: 2rem;
  border-bottom: 1px solid hsl(224, 36%, 15%);
}
#about-me p{
  margin: 0 auto;
  letter-spacing: 1px;
  line-height: 1.7rem;
  /* text-align: justify; */
  max-width: 600px;
}
@media (max-width: 500px){
  #about-me p{
    text-align: left;
  }
}
/* Talent */
section.resume-talent{
  margin: 70px 0;
}
/* #education, */
#education{
  margin: 50px 0;
}
.edu-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}
.edu-card .card{
  max-width: 400px;
  border: 1px solid hsl(224, 36%, 15%);
  /* vertical-align: top; */
}
.edu-card .card-text{
  color: #fff;
  background: hsl(224, 36%, 15%);
}
.card img{
  width: 100%;
}
@media (max-width: 800px){
  .edu-card{
    grid-template-columns: 1fr;
  }
}
/* experience */
#experience{

}
.exp-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.exp-card .card{
  position: relative;
  max-width: 500px;
  border: 1px solid hsl(224, 36%, 15%);
  /* vertical-align: top; */
}
.exp-card .card-text{
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  background: hsla(224, 36%, 15%,0.5);
}
.card img{
  width: 100%;
}
@media (max-width: 700px){
  .exp-card {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px){
  .exp-card {
    grid-template-columns: 1fr;
  }
}
#association {
  text-align: center;
  padding-top: 50px;
}
